body{margin: 0;}
/*letra de logo*/
/*@import url('https://fonts.googleapis.com/css?family=Uncial+Antiqua');*/

/*----------------------------header-------------------------------------------------*/
.head a{
    font-family: 'Uncial Antiqua', cursive; 
    font-size: 2em; 
    color: white;
    text-decoration: none;
}
.head{
    display: flex;
    width: 100%;
    height: 8vh;
    background: #323f51;
    justify-content: center;
    align-items: center;
}

/*---------------------------area de trabajo--------------------------------------------*/
.pagina{
    display: flex;
    height: 92vh;
}
.areaTrabajo {
    background: url('../imagenes/lineas.png') black;
    width: 70%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.carta{
    width: 25%;
    height: 200px;
    background: #6b809d;
    margin: 10px;
}

/*---------------------area de informacion------------------------------------------------*/
.areaInfo{
    width: 30%;
    margin: 0;
    padding: 0;
    background: #323f51;
}
.personal{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.foto, .info, .redes{
    width: 70%;
}
.foto img{
    border-radius: 50%;
}
.info p{
    color: white;
    text-align: center;
}
.redes{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}
.redes li{
    background: black;
    padding: 10px;
    transform: rotate(-45deg);
    width: 15px;
    height: 15px;
}
.redes li a{
    color: white;
}
.redes li a i{    transform: rotate(45deg);}

/*---------------Contacto----------------------------------------------------------*/
.contacto{
    width: 80%;
}
.contacto form{
    display: flex;
    flex-direction: column;
}
.contacto form input, .contacto form textarea{
    margin: 15px 0;
    padding: 10px;
    font-size: 16px;
}
.contacto form button{
    background-color: #6b809d;
    color: white;
    border: none;
    padding: 13px;
    font-size: 16px;
    cursor: pointer;
    margin: 15px 2px;
}


/*--------------------------media querys-----------------------------------------*/
@media screen and (max-width:800px){
    .areaTrabajo{
        width: 50%;
        overflow-y: auto;
    }
    .areaInfo{
        width: 50%;
        overflow-y: auto;
    }
    .carta{
        width: 80%;
    }
    .head a{
        font-family: 'Uncial Antiqua', cursive; 
        font-size: 1.5em; 
    }
    .contacto{    
        margin: 15% 0; 
        height: 82%;
    }
    .contacto form input, .contacto form textarea{
        margin: 5px 0;
    }
}
@media screen and (max-width:500px){
    .areaTrabajo{
        width: 100%;
    }
    .areaInfo{
    width: 100%;
    left: -100%; 
    display: flex;
    position: absolute;
    height: 92vh;
    }
}